.contact-section {
	min-height: 400px;
	background-color: #292728;
	color: #FFFCED;
	text-align: center;
}

.contact-section h3 {
	font-size: 3em;
	text-decoration: underline;
	margin-top: 5%;
}

.contact-section .contact-list div {
	font-size: 1.2em;
	margin-top: 5%;
}

.link-text {
	color: #FFFCED;
}
