html {
    overflow-x: hidden; 
}

body {
	background-color: #292728;
}

.germany { 
    /* The image used */
    background-image: url("../img/laptop.jpg");

    /* Set a specific height */
    height: 750px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /* margin-top: -25px;*/
    padding-top: 180px;
}

#germany-text {
	color: black;
	text-align: center;
}

#germany-text h1 {
	font-size: 3.4em;
}

.forest { 
    /* The image used */
    background-image: url("../img/mountains.jpeg");

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cave { 
    /* The image used */
    background-image: url("../img/atmosphere.jpeg");

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.space { 
    /* The image used */
    background-image: url("../img/space2.jpg");

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}