.skills-section {
	min-height: 550px;
	height: auto;
	background-color: #292728;
	color: #FFFCED;
	text-align: center;
	padding: 5%;
}

.skills-section h3 {
	font-size: 3em;
	text-decoration: underline;
	margin-top: -5px;
	margin-bottom: 10px;
}

.skills-section .skills-list div {
	display: inline-block;
	font-size: 2em;
	margin-top: 20px;
}

.skills-section .skills-list div img {
	height:100px;
	width: 100px;
}

.sql {
	height: 75px;
	width: 110px;
}

.node {
	height: 150px;
	width: 150px;
}