/**********************************
Body
***********************************/

body {
	max-width:460px;
	padding: 0;
	background-image:url('bluebackground.jpg');
	image-repeat:no-repeat;
}





/**********************************
Header
************************************/

header {
	text-align:center;
	/*background-color:#086375;*/
	margin:0 auto;
	width:100%;
	padding:5px;
}

header h3 {
	margin-top:0;
	margin-bottom:15px;
	color:#c4c7ce;
}

header h1 {
	margin-bottom:2px;
	color:#c4c7ce;
}



/**********************************
NAV BAR
************************************/

nav {
	background: -webkit-linear-gradient(left,  #74777c 0%,#c4c7ce 33%,#c4c7ce 66%,#74777c 100%);
	margin:-20px auto 0;
	width:100%;
	padding-left:15%;
}

nav ul {
	margin:0 auto;
}

nav ul li {
	display:inline-block;
	margin:4% 7%;
	padding:5px;
	border-radius:30%;
}

nav ul li a {
	text-decoration:none;
	color:black;
}

nav ul li a:hover {
	color:#086375;
}

.selected a {
	color:#086375;
}


/**********************************
Section
************************************/

section h3 {
	text-align:center;
	background-color:#086375;
	max-width:25%;
	margin:10px auto;
	border-style:groove;
	padding:5px;
}

section p {
	/*background-color:#086375;*/
	margin:0 10%;
	padding:5px 5px 10px;
	line-height:200%;
}

/***********************************
Contact Info
*************************************/


.contactinfo {
	margin:10% auto;
	text-align:center;
}

.contactinfo a {
	text-decoration:none;
	color:#c4c7ce;
}



/************************************
Footer
*************************************/

footer {
	background:-webkit-linear-gradient(left,  #74777c 0%,#c4c7ce 33%,#c4c7ce 66%,#74777c 100%);
	width:100%;
	margin-top:0;
}

footer p {
	text-align:center;
	padding:6%;
}



















