<img class="logo" src="../img/my-logo2.png">

<ul class="nav-list">
	<li><a class="about-link">About</a></li>
	<li><a class="projects-link">Projects</a></li>
	<li><a class="skills-link">Technologies</a></li>
	<li><a href="/resume" class="resume-link">Resume</a></li>
	<li class="last"><a class="contact-link">Contact</a></li>
</ul>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a class="about-link" href="#">About</a></li>
    <li><a class="projects-link" href="#">Projects</a></li>
    <li><a class="skills-link" href="#">Skills</a></li>
    <li><a href="#">Resume</a></li>
    <li><a class="contact-link" href="#">Contact</a></li>
  </ul>
</div>