<h3>Technologies</h3>

<div class="skills-list">
	<div><img src="./img/html.png"><br>HTML</div>
	<div><img src="./img/css.png"><br>CSS</div>
	<div><img src="./img/js.png"><br>JavaScript</div>
	<div><img src="./img/angular.png"><br>AngularJS</div>
	<div><img src="./img/react.png"><br>ReactJS</div>
	<div><img src="./img/sql.png" id="wide"><br>SQL</div>
	<div><img src="./img/mongo.png"><br>MongoDB</div>
	<div><img src="./img/node.png" id="wide"><br>NodeJS</div>
	<div><img src="./img/phaser.png"><br>Phaser</div>
	<!-- <div><img src="./img/ruby.png"><br>Ruby</div> -->
	<div><img src="./img/rails.png"><br>Ruby on Rails</div>
</div>