<h3>Technologies</h3>

<div class="skills-list container">
	<div class="col-xs-6 col-sm-4 col-md-3"><img src="./img/html.png"><br>HTML</div>
	<div class="col-xs-6 col-sm-4 col-md-3"><img src="./img/css.png"><br>CSS</div>
	<div class="col-xs-6 col-sm-4 col-md-3"><img src="./img/js.png"><br>JavaScript</div>
	<div class="col-xs-6 col-sm-4 col-md-3"><img src="./img/angular.png"><br>AngularJS</div>
	<div class="col-xs-6 col-sm-4 col-md-3"><img src="./img/react.png"><br>ReactJS</div>
	<div class="col-xs-6 col-sm-4 col-md-3"><img src="./img/sql.png"><br>SQL</div>
	<div class="col-xs-6 col-sm-4 col-md-3"><img src="./img/mongo.png"><br>MongoDB</div>
	<div class="col-xs-6 col-sm-4 col-md-3"><img src="./img/node.png" class="sql"><br>NodeJS</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-3"><img src="./img/phaser.png"><br>Phaser</div>
	<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0"><img src="./img/rails.png"><br>Ruby on Rails</div>
</div>