<div class="nav-section">
	<nav-bar></nav-bar>
</div>

<div class="seattle">
	<div id="seattle-text" ng-show="true">
		<h1>Jacob Elder</h1>
		<h2>Web Developer</h2>
	</div>
</div>

<div class="about-section" id="about">
	<about></about>
</div>

<div class="forest"></div>

<div class="projects-section" id="projects">
	<projects></projects>
</div>

<div class="cave"></div>

<div class="skills-section" id="skills">
	<skills></skills>
</div>

<div class="space"></div>

<div class="contact-section" id="contact">
	<contact></contact>
</div>

<script type="text/javascript" src="./js/animations.js"></script>